@font-face {
    font-family: Roboto;
    font-weight : 400;
    src: url("./../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    font-weight : 500;
    src: url("./../font/Roboto-Medium.ttf");
}
@font-face {
    font-family: Roboto;
    font-weight : 700;
    src: url("./../font/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto;
    font-weight : 900;
    src: url("./../font/Roboto-Black.ttf");
}

