.footer {
  max-width: 32rem;
  min-width: 32rem;
  min-height: 20rem;
  margin: 0.3rem;
  background-color: var(--footer--bg);
  transition: max-width 0.6s, min-width 0.6s;
}
.footer.hidden {
  min-width: 0;
  max-width: 0;
  padding: 0.6rem;
}
/* The sections of footer  */
.footer.hidden > .live-news-feed,
.footer.hidden > .footer--social-networks-menu,
.footer.hidden > .statistics {
  opacity: 0;
}
.live-news-feed,
.footer--social-networks-menu,
.statistics {
  opacity: 1;
}
.footer--section {
  background-color: var(--color-primary);
}
.live-news-feed {
  flex-grow: 0;
  flex-basis: 4rem;
  transition: flex-grow 0.5s;
}
.live-news-feed.visible {
  flex-grow: 1;
}
.live-news-feed--content {
  scrollbar-color: var(--footer--bg-box-title) transparent;
  scrollbar-width: thin;
}
.live-news-feed--content::-webkit-scrollbar {
  width: 5px;
}
.live-news-feed--content::-webkit-scrollbar-thumb {
  background-color: var(--footer--bg-box-title);
  border-radius: 0.6rem;
}
.live-new {
  border-bottom: 1px solid var(--footer--color-border);
}
.live-new--title {
  font-size: 1.4rem;
  line-height: 1.7;
  margin-bottom: 0.3rem;
}
.live-new--title:hover {
  opacity: 0.8;
}
.live-new--info {
  font-size: 1.2rem;
}
.live-new--source-new {
  color: var(--color-green);
}
.live-new--publication-time {
  opacity: 0.6;
}
.footer--box-title {
  flex-basis: 4rem;
  flex-shrink: 0;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
  background-color: var(--footer--bg-box-title);
  font-size: 1.6rem;
}
.footer--box-title::after,
.footer--box-title::before {
  content: "";
  position: absolute;
  background-color: var(--color-green);
  opacity: 1;
}
.footer--box-title::after {
  width: 1.4rem;
  height: 0.2rem;
  right: 1rem;
}
.footer--box-title::before {
  height: 1.4rem;
  width: 0.2rem;
  right: 1.6rem;
}
.footer--section.visible > .footer--box-title::before {
  opacity: 0;
}
.statistics {
  height: 4rem;
}
.statistics.visible {
  height: auto;
}
.statistics--info {
  font-size: 1.2rem;
  border-bottom: 1px solid var(--footer--color-border);
}
.statistics--dominance-info {
  border: none;
}
.statistics--text {
  opacity: 0.6;
}
.statistics--financial-loss {
  color: #dc7474;
}
.statistics--financial-benefit {
  color: #84c47c;
}
.footer--social-networks-menu--item {
  background-color: var(--bg-btns);
  flex-basis: 4rem;
}
.footer--social-networks-menu--link {
  padding: 0.3rem;
}
.footer--close-open-btn {
  width: 2rem;
  height: 2rem;
  background-color: var(--bg-btns);
  border: 2px solid var(--color-primary);
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.footer.hidden > .footer--close-open-btn {
  left: -0.8rem;
  transform: translateY(-50%) rotate(-180deg);
}
/* responsive style */
@media only screen and (max-width:576px){
  .footer{
    max-width : 28rem;
    min-width : 28rem;
  }
}
@media only screen and (max-width: 400px) {
  .main-footer-container {
    position: relative;
  }
  .footer {
    max-width: 0;
    min-width: 0;
    padding: 0.6rem;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
  }
  .live-news-feed,
  .footer--social-networks-menu,
  .statistics {
    opacity: 0;
  }
  .footer--close-open-btn {
    right: 0px;
  }
  .footer.hidden {
    max-width: 100%;
    min-width: 100%;
  }
  .footer.hidden > .footer--close-open-btn {
    left: 0;
  }
  .footer.hidden > .live-news-feed,
  .footer.hidden > .footer--social-networks-menu,
  .footer.hidden > .statistics {
    opacity: 1;
  }
}
